# vim: noexpandtab sw=4
[user]
	email = sdhkygg@gmail.com
	name = Youngjae Shin
[init]
	defaultBranch = main
[core]
	editor = nvim
	excludesfile = ~/.gitexclude
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.dotfiles/.gitallowedsigners
[alias]
	d   = -c diff.external=difft diff
	dca = -c diff.external=difft diff --cached
	dl  = -c diff.external=difft log -p --ext-diff
	ds  = -c diff.external=difft show --ext-diff
[include]
	path = ~/.gitconfig.local
